html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div {
}

a {
  color: #30D7A9;
}

a:hover {
  color: #30D7A9;
  text-decoration: none;
}

#app {
  height: 100%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
