
.Definition dl {
  margin-top: 0;
  margin-bottom: 20px;
}

.Definition dt {
  font-weight: 700;
}

@media (min-width: 768px) {
  .Box .Definition dt {
    width: 45%;
    height: 38px;
    text-align: right;
    display: inline-block;
  }

  .Box .Definition dd {
    top: 0;
    width: 45%;
    height: 38px;
    text-align: left;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .Definition dt {
    min-width: 45%;
    text-align: right;
    display: inline-block;
    float: left;
    clear: left;
  }

  .Definition dd {
    text-align: left;
    min-width: 40%;
    display: inline-block;
    float: left;
    clear: right;
  }
}
