.HomePage {
  height: 100%;
  position: relative;
}

.HomePage .controls {
  height: 100%;
  padding-top: 24px;
  top: 0;
  left: 24px;
  position: absolute;
}

.HomePage > .Loading {
  font-size: 10px;
  top: 25%;
}
