.Icon {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.Icon-decentraland {
  width: 152px;
  height: 152px;
  background-image: url("../images/logo.svg");
}

.Icon-hamburger {
  width: 16px;
  height: 11px;
  background-image: url("../images/hamburger.svg");
}

.Icon-laquo {
  width: 12px;
  height: 10px;
  background-image: url("../images/laquo.svg");
}

.Icon-shift {
  width: 11px;
  height: 13px;
  background-image: url("../images/shift.svg");
}

.Icon-address {
  width: 20px;
  height: 20px;
  background-image: url("../images/address.svg");
}
