.Menu {
  width: 620px;
  height: 100%;
  top: 0;
  left: -24px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-120%);
  z-index: 700;
  background: #FFF;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
}

.Menu.in {
  transform: translateX(0%);
}

/* -----------------------------------------------------------------------
 Header */

.Menu header {
  position: relative;
  padding: 24px;
}

.Menu .Icon-decentraland {
  width: 36px;
  height: 36px;
}

.Menu .menu-title {
  margin: 0 10px;
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 38px;
  color: #232323;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
  vertical-align: top;
  display: inline-block;
}

.Menu .Icon-laquo {
  top: 38px;
  right: 24px;
  position: absolute;
  cursor: pointer;
}

/* -----------------------------------------------------------------------
 Balance */

.your-balance {
  padding: 24px;
  background-color: #FCFCFC;
}

.your-balance h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  color: #000000;
}

.your-balance .mana {
  font-size: 14px;
  color: #7B7B7B;
}

/* -----------------------------------------------------------------------
 Ongoing Auctions */

.ongoing-auctions {
  padding: 24px 0;
}

.ongoing-auctions h3 {
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.ongoing-auctions .table-row {
  width: 100%;
  height: 64px;
  padding: 24px;
}

.ongoing-auctions .table-header {
  color: #7B7B7B;
}

.ongoing-auctions .table-row.gray {
  background-color: #FBFBFB;
}

.ongoing-auctions .table-row > div {
  float: left;
}

.ongoing-auctions .table .col-land      { height: 100%; width: 10%; }
.ongoing-auctions .table .col-status    { height: 100%; width: 20%; }
.ongoing-auctions .table .col-amount    { height: 100%; width: 30%; }
.ongoing-auctions .table .col-time-left { height: 100%; width: 15%; }
.ongoing-auctions .table .col-address   { height: 100%; width: 25%; }

.ongoing-auctions .table .won     { color: #4A90E2; }
.ongoing-auctions .table .winning { color: #02B45D; }
.ongoing-auctions .table .lost    { color: #000000; }
.ongoing-auctions .table .outbid  { color: #B40202; }


.ongoing-auctions .col-status {
  font-size: 14px;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
}

@media (max-width: 620px) {
  .Menu {
    width: 100%;
  }
}
