.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#map path { stroke: #FFF; }

#map .coordinates {
  margin-top: 1px !important;
  margin-left: 1px !important;
}

#map .reticle {
  margin-top: -27px !important;
  margin-left: -10px !important;
  font-size: 36px;
  font-size: 2.8em;
  color: #666;
}

#map .coordinates-zoom-11 { font-size: 1.3em; }
#map .coordinates-zoom-10 { font-size: 1.1em; }
#map .coordinates-zoom-9 { font-size: 0.8em; }
#map .coordinates-zoom-8 { font-size: 0.5em; }
