.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-popup .btn {
  margin-top: 16px;
  padding: 8px 15px;
  font-size: 14px;
}

.leaflet-tile {
  border: 2px solid #FFF;
}

.tile {
  visibility: visible;
}

.won     { background-color: #30D7A9; }
.winning { background-color: #30D7A9; }
.lost    { background-color: #AE4DE8; }
.outbid  { background-color: #AE4DE8; }
.taken   { background-color: #3E396B; }
.default { background-color: #EAEAEA; }
.loading { background-color: #D0D0D0; }

/* .leaflet-coordinates {
//   font-size: 15px;
//   top: 37%;
//   left: 33%;
//   position: relative;
}*/

.leaflet-popup {
  z-index: 800;
}

.leaflet-popup .current-bid-status:first-letter {
  text-transform: capitalize;
}

.leaflet-popup a.leaflet-popup-close-button {
  top: 10px;
  right: 10px;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 5px;
  border: 1px solid #4A90E2;
}

.leaflet-popup .leaflet-popup-content {
  padding: 15px;
  font-size: 16px;
  box-shadow: none;
}

.leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup .text {
  color: #7B7B7B;
}
.leaflet-popup .text small {
  font-size: 70%;
  font-style: italic;
  display: block;
  text-align: center;
}

.leaflet-popup .coordinates {
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
}

.leaflet-popup .text, .leaflet-popup .mana, .leaflet-popup .coordinates {
  margin-bottom: 8px;
}

.leaflet-popup .btn {
  margin-top: 10px;
}
