
#map path.won      { fill: #4A90E2; }
#map path.winning  { fill: #97b9e5; }
#map path.lost     { fill: #3C225F; }
#map path.outbid   { fill: #F04ACC; }
#map path.taken    { fill: #4F3A4B; }
#map path.genesis  { fill: #FFFFFF; }
#map path.roads    { fill: #5C5C5C; }
#map path.district { fill: #AA8CDD; }
#map path.pending  { fill: #02B45D; }
#map path.default  { fill: #EAEAEA; }
#map path.loading  { fill: #AAAAAA; }

#map .header.won      { background-color: #4A90E2; }
#map .header.winning  { background-color: #97b9e5; }
#map .header.lost     { background-color: #3C225F; }
#map .header.outbid   { background-color: #F04ACC; }
#map .header.taken    { background-color: #4F3A4B; }
#map .header.genesis  { background-color: #FFFFFF; }
#map .header.roads    { background-color: #FFFFFF; }
#map .header.district { background-color: #FFFFFF; }
#map .header.default  { display: none; }
#map .header.loading  { display: none; }
