.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-tile {
  border: 1px solid #FFF;
  background-color: #EAEAEA;
  transform: translateZ(0);
}

.leaflet-coordinates {
  font-size: 16px;
  top: 40%;
  left: 40%;
  position: relative;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  border-radius: 0;
}
