
.PendingConfirmationBidsTable {
  width: 592px;
  background-color: #FFF;
  z-index: 600;
  position: relative;
}

.PendingConfirmationBidsTable h3 {
  margin: 24px 24px 0;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.PendingConfirmationBidsTable .text-danger {
  margin: 5px 24px 0;
}

.PendingConfirmationBidsTable .table {
}

.PendingConfirmationBidsTable .table-row {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PendingConfirmationBidsTable .table-header {
  color: #7B7B7B;
}

.PendingConfirmationBidsTable .table-content {
  max-height: 300px;
  overflow: hidden;
}

.PendingConfirmationBidsTable .table-row.gray {
  background-color: #FBFBFB;
}

.PendingConfirmationBidsTable .table-row > div {
  float: left;
}

.PendingConfirmationBidsTable .confirm-bids {
  background-color: #02B45D;
  color: #FFF;
}

.PendingConfirmationBidsTable .table .col-land        { width: 9%; }
.PendingConfirmationBidsTable .table .col-your-bid    { width: 17%; }
.PendingConfirmationBidsTable .table .col-current-bid { width: 17%; }
.PendingConfirmationBidsTable .table .col-time-left   { width: 17%; }
.PendingConfirmationBidsTable .table .col-address     { width: 20%; }
.PendingConfirmationBidsTable .table .col-actions     { width: 10%; }
.PendingConfirmationBidsTable .table .col-confirm     { width: 30%; }

.PendingConfirmationBidsTable .table .col-actions.delete {
  text-align: center;
  color: #f44336;
  cursor: pointer;
}
.PendingConfirmationBidsTable .table .col-actions.delete:hover {
  color: #bd4e4c;
}

.PendingConfirmationBidsTable .table .col-confirm {
  text-align: right;
}

.PendingConfirmationBidsTable .Button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border-color: #CCC;
  cursor: pointer;
  color: #333;
}
