.ShowMenu {
  padding: 13px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
  border-radius: 8px;
  background: #FFFFFF;
  cursor: pointer;
  z-index: 600;
  position: relative;
  display: inline-block;
}

.ShowMenu-loading {
  top: 1px;
  padding: 12px 13px 12px 12px;
}

.ShowMenu .Icon-hamburger {
}

.ShowMenu .Loading {
  width: 8.2em;
  height: 8.2em;
  margin: 0;
  font-size: 0.15em;
  display: inline-block;
}
