.Stats {
  max-width: 1170px;
  margin: auto;
  color: #3e396b;
  font-size: 16px;
}

.Stats .content h1 {
  font-size: 36px;
  margin-bottom: 45px;
  font-family: 'Source Sans Pro Light', Helvetica, sans-serif;
  text-align: center;
}

.Stats h4 {
  text-align: center;
  color: #999;
  margin-top: 5px;
  margin-bottom: 18px;
}

.Stats .Box {
  padding: 0;
  max-width: 920px;
  margin: auto;
  margin-bottom: 65px;
}

.Stats .Box .Definition dd {
  font-size: 26px;
  color: #23527C;
}

.Stats .Definition dt {
  margin-bottom: 12px;
}

.Stats .Definition dt a {
  font-weight: normal;
}

.Stats .title {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro Light', Helvetica, sans-serif; }

.Stats .largest-bidders {
  margin-top: 35px;
}

.Stats .largest-bidders .Definition {
  margin-left: 7%;
  width: 100%;
}

@media (min-width: 768px) {
  .Stats .Box .box-section {
    border-right: 1px solid #ECECEC;
  }

  .Stats .Box .Definition {
    padding-left: 15px;
  }
}
