.UnsubscribeEmail {
  padding: 0 16px;
}

.UnsubscribeEmail .content {
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: #FBFBFB;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  font-size: 14px;
  color: #3E396B;
}

.UnsubscribeEmail .content h3 {
  font-size: 14px;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
}

.UnsubscribeEmail .unsubscribe {
  top: 13px;
  position: relative;
  float: right;
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
  color: #EF303B;
  cursor: pointer;
}
