
.BidParcelModal {
  text-align: center;
}

.BidParcelModal .modal-header {
  border-bottom: none;
}

.BidParcelModal .modal-body {
  padding-bottom: 50px;
}

.BidParcelModal .text {
  font-size: 18px;
  color: #9A9A9A;
}

.BidParcelModal .manaInput {
  margin-top: 25px;
  margin-bottom: 25px;
}

.BidParcelModal .manaToBid {
  width: 150px;
  border: 1px solid #DCDCDC;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 17px;
  margin: 0 15px;
  text-align: center;
  box-shadow: none;
  outline-color: #30D7A9;
  color: #30D7A9;
}

.BidParcelModal .buttons .btn-secondary {
  margin-right: 20px;
}
