.ClosingModal {
  color: #3E396B;
  user-select: text;
  background-image: url("../../images/closing-bg.jpg");
}

.ClosingModal .modal-header {
  padding: 15px 15px 0;
  border: none;
  background-color: #FCFCFC;
}

.ClosingModal .banner {
  padding: 0px 0 8px;
  text-align: center;
}

.ClosingModal h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  padding-right: 60px;
}

.ClosingModal h4 {
  font-size: 18px;
  font-weight: bold;
}

.ClosingModal .banner h2 {
  font-size: 28px;
  margin-top: 0;
  padding-top: 0;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

.ClosingModal .banner .Icon-decentraland {
  width: 60px;
  height: 60px;
  top: 10px;
  position: relative;
  right: 7px;
  clear: both;
  margin-bottom: 32px;
}

.ClosingModal .modal-body {
  padding: 30px 50px;
}

.ClosingModal .modal-body p {
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
  font-size: 16px;
}

.ClosingModal .get-started {
  margin-top: 50px;
  text-align: center;
}

.ClosingModal .get-started .Button {
  padding: 11px 44px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .ClosingModal .modal-dialog {
    width: 720px;
  }
}
